#top-header {
    position: absolute;
}

.logo {
    height: 31px;
    margin: 28px 0 0 20px;
    position: absolute;
}

.searchbar {
    margin-left: 145px;
    margin-top: 21px;
    position: absolute;
    padding-left: 20px;
    padding-right: 45px;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    height: 42px;
    width: 575px;
    background: url(https://jwern.github.io/google-homepage/images/magnifying-glass-lighter.png) no-repeat 600px center;
    background-size: 20px;
    font-size: 15px;
}

.login {
    position: fixed;
    right: 48px;
    top: 27px;
    background: #1a73e8;
    color: #fff;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 23px;
    font-size: 14px;
}

#bottom-header {
    color: #5f6368;
    border-bottom: 1px solid #dfe1e5;
    padding: 61px;
}

li {
    display: inline
}

.left-list {
    position: absolute;
    top: 90px;
    left: 169px;
    font-family: arial;
}

.left-item {
    padding-right: 35px;
    font-size: 13px;
    padding-bottom: 13px;
}

.selected-item {
    color: #1A73E8;
    border-bottom: 3px solid #1A73E8;
}

.right-list {
    position: absolute;
    top: 90px;
    left: 658px;
    font-family: arial;
}

.right-item {
    padding-right: 35px;
    font-size: 13px;
}

body {
    font-family: arial;
}

#content {
    margin-left: 167px;
    margin-right: 500px;
}

.number-results {
    font-size: 14px;
    font-family: arial;
    color: #70757a;
    margin-top: 12px;
}

.first-result {
    margin-top: 17px;
}

.name {
    font-family: arial;
    font-size: 20px;
    line-height: 26px;
    color: #1a0dab;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 6px;
}

.name:hover {
    text-decoration: underline;
}

cite {
    color: #006621;
    font-family: arial;
    font-size: 16px;
}

.ad {
    font-size: 12px;
    border: 1px solid green;
    border-radius: 2px;
    padding: 1px 3px 1px 2px;
    height: 11px;
    display: inline-block;
}

p {
    margin-top: 7px;
    font-size: 14px;
    color: #545454;
    line-height: 22px;
}

.secondary-results-area {
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 28px;
    width: 700px;
}

.secondary-results {
    display: inline;
}

.secondary-result {
    width: 205px;
    margin-right: 100px;
    display: inline-block;
    height: 70px;
}

.secondary-name {
    font-family: arial;
    font-size: 20px;
    line-height: 26px;
    color: #1a0dab;
    text-decoration: none;
    display: inline-block;
}

.secondary-description {
    margin-top: 0;
}

.result {
    margin-top: 27px;
}

.rectangle {
    margin: 20px 0 0 -16px;
    border: 1px solid #dfe1e5;
    width: 606px;
    border-radius: 8px;
}

h3 {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 16px;
    width: 606px;
    font-size: 16px;
    padding-left: 16px;
}

.steps {
    list-style: decimal;
    margin-left: 18px;
    padding-left: 16px;
}

.step {
    display: list-item;
    margin-bottom: 4px;
    height: 22px;
}

.rectangle-logo {
    position: relative;
    left: 468px;
    bottom: 256px;
}