#top-header {
    position: absolute;
}

.logo {
    height: 31px;
    margin: 28px 0 0 20px;
    position: absolute;
}

.searchbar {
    margin-left: 145px;
    margin-top: 21px;
    position: absolute;
    padding-left: 20px;
    padding-right: 45px;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    height: 42px;
    width: 575px;
    background: url(https://jwern.github.io/google-homepage/images/magnifying-glass-lighter.png) no-repeat 600px center;
    background-size: 20px;
    font-size: 15px;
}

.login {
    position: relative;
    left: 1140px;
    top: 27px;
    background: #1a73e8;
    color: #fff;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 23px;
    font-size: 14px;
}

#bottom-header {
    color: #5f6368;
    border-bottom: 1px solid #dfe1e5;
    padding: 61px;
}

li {
    display: inline
}

.left-list {
    position: absolute;
    top: 90px;
    left: 169px;
    font-family: arial;
}

.left-item {
    padding-right: 35px;
    font-size: 13px;
    padding-bottom: 13px;
}

.selected-item {
    color: #1A73E8;
    border-bottom: 3px solid #1A73E8;
}

.right-list {
    position: absolute;
    top: 90px;
    left: 658px;
    font-family: arial;
}

.right-item {
    padding-right: 35px;
    font-size: 13px;
}

body {
    font-family: arial;
}

#content {
    margin-left: 167px;
    margin-right: 501px;
}

.number-results {
    font-size: 14px;
    font-family: arial;
    color: #70757a;
    margin-top: 12px;
}

.first-result {
    margin-top: 17px;
}

.name {
    font-family: arial;
    font-size: 20px;
    line-height: 26px;
    color: #1a0dab;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 6px;
}

.name:hover {
    text-decoration: underline;
}

cite {
    color: #006621;
    font-family: arial;
    font-size: 16px;
}

.ad {
    font-size: 12px;
    border: 1px solid green;
    border-radius: 2px;
    padding: 1px 3px 1px 2px;
    height: 11px;
    display: inline-block;
}

p {
    margin-top: 7px;
    font-size: 14px;
    color: #545454;
    line-height: 22px;
}

.secondary-results-area {
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 28px;
    width: 700px;
}

.secondary-results {
    display: inline;
}

.secondary-result {
    width: 205px;
    margin-right: 100px;
    display: inline-block;
    height: 70px;
}

.secondary-name {
    font-family: arial;
    font-size: 20px;
    line-height: 26px;
    color: #1a0dab;
    text-decoration: none;
    display: inline-block;
}

.secondary-description {
    margin-top: 0;
}

.result {
    margin-top: 30px;
}

.rectangle {
    margin: 20px 0 0 -16px;
    border: 1px solid #dfe1e5;
    width: 630px;
    border-radius: 8px;
    height: 376.5px;
}

h3 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 606px;
    font-size: 16px;
    padding-left: 16px;
}

.steps {
    list-style: decimal;
    margin-left: 18px;
    padding-left: 16px;
}

.step {
    display: list-item;
    margin-bottom: 4px;
    height: 22px;
}

.rectangle-logo {
    position: relative;
    left: 492px;
    bottom: 264px;
    border-top-right-radius: 8px;
}

.rectangle-name {
    font-size: 14px;
    position: absolute;
    margin-left: -103px;
}

.rectangle-name-date {
    position: absolute;
    margin-top: -161px;
    margin-left: 120px;
}

.rectangle-big-name {
    position: absolute;
    margin-top: 45px;
    margin-left: -123px;
}

.rectangle-link {
    position: absolute;
    margin-top: -88px;
    margin-left: 15px;
}

.table-area {
    margin-top: 35px;
    margin-left: -15px;
}

.frequent-questions {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    border-collapse: separate !important;
    width: 632px;
}

.table-header {
    padding: 9px 16px;
    font-size: 20px;
    line-height: 1.3;
}

.cell {
    padding: 9px 40px 9px 16px; 
    width: 583px;
    border-top: 1px solid #dfe1e5;
    line-height: 1.57;
    font-size: 16px;
    cursor: pointer;
}

.table-dropdown {
    position: absolute;
    height: 16px;
    margin-top: 6px;
}

.feedback {
    margin-left: 540px;
    font-style: italic;
    font-size: 12px;
    cursor: pointer;
    color: #70757a;
    margin-top: 0
}

.feedback:hover {
    text-decoration: underline;
}

.related-search {
    margin-top: 30px;
}

h4 {
    font-size: 20px;
    line-height: 1.3;
}

.table-of-searches {
    margin-top: 20px;
}

.search-cell {
    color: #1a0dab;
    cursor: pointer;
    width: 286.317px;
    padding: 3px 32px 3px 0;
    font-size: 14px;
    line-height: 20px;
}

.search-cell:hover {
    text-decoration: underline;
}

.bottom-logo {
    margin-top: 30px;
    margin-left: 125px;
}

.page {
    margin-left: 170px;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    display: inline-block;
    padding-right: 7px;
}

.pages-available {
    color: #4285f4;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding-right: 8px;
}

.pages-available:hover {
    text-decoration: underline;
}

#footer {
    background-color: #f2f2f2;
    margin-top: 30px;
}

.top-footer {
    padding: 13px 0 13px 162px;
    border-top: solid 1px #e4e4e4;
    bottom: 0;
    position: relative;
}

h6 {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    display: inline-block;
}

.bottom-footer-item {
    color: #5f6368;
    text-decoration: none;
    padding-left: 24px;
    font-size: 14px;
}

.bottom-footer-item:hover {
    color: #333
}

.bottom-footer {
    bottom: 42px;
    padding: 13px 0 13px 139px;
    border-top: solid 1px #e4e4e4;
    position: relative;
    bottom: 0;
}